@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  /* color: #3f337c; */
  /* color: #0b8ba8; */
  color: #49bc7f;
}
nav-link:hover {
  cursor: pointer;
}
nav-controller {
  margin: auto;
  padding: 10px;
}
nav .logo {
  max-width: 200px;
  background-color: black;
}

nav-controller nav nav-link {
  font-weight: bold;
  text-decoration: none;
  font-size: 1.8rem;
  padding-left: 10px;
  max-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: black;
}

#page-container .page {
  display: none;
}

#page-container .page.open {
  display: block;
}

#page-container .page.left {
  display: block;
  transform: translateX(-100vw);
}

image-container {
  display: grid;

}  
image-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.4rem;
}
showme-schedule {
  
}

schedule-entry{
  margin-bottom: 8px;
  border-bottom: 3px solid #49bc7f;
}
@media screen and (min-width: 900px) {
  schedule-entry {
    display: grid;
    grid-template-columns: 90px 90px 590px 160px;
  }
}