<h1>A WORLD SWING DANCE REGISTRY EVENT</h1>
<br />
<firework-element>
    <div class="celebration my-12">
        <a class="btn c-black bg-blue p-18 fnt-24 fnt-bld" href="<%= contact.danceRegistryLink %>">REGISTER HERE</a>
    </div>
</firework-element>
<br />
<div class="grid col1 col3-md">
    <div>
        <h3>WEEKEND PASSES</h3>
        <div>$145 UNTIL 4/11</div>
        <div>$155 AT THE DOOR</div>
        <div>TABLE OF 10 - $1350 thru 3/31</div>
    </div>
    <div>
        <h3>DISCOUNTED WEEKEND PASSES</h3>
        <div>$75 UNTIL 5/15</div>
        <div>$155 AT THE DOOR</div>
        <div>$99 AT THE DOOR</div>
    </div>
    <div>
        <h3>SINGLE DAY PASSES</h3>
        <div>Competitors are not eligible.</div>
        <div>$10 Single</div>
        <div>$45 Weekend</div>
    </div>
</div>