<h1 class="py-10">SHOWME PROS</h1>
<image-container class="my-4">
    <image-holder src="/img/staff/matt_julie.webp" name="MATT & JULIE AUCLAIR"></image-holder>
    <image-holder src="/img/staff/jeanne_degeyter.webp" name="JEANNE DEGEYTER"></image-holder>
    <image-holder src="/img/staff/jessie_ariel.webp" name="JESSE LOPEZ & ARIEL PECK"></image-holder>
    <image-holder src="/img/staff/terry_roseborough.webp" name="TERRY ROSEBOROUGH"></image-holder>
    <image-holder src="/img/staff/bonnie_cannon.webp" name="BONNIE CANNON"></image-holder>
    <image-holder src="/img/staff/kris_swearingen.webp" name="KRIS SWEARINGEN"></image-holder>
    <image-holder src="/img/staff/bryan_jordan.webp" name="BRYAN JORDAN"></image-holder>
    <image-holder src="/img/staff/janie_deroche.webp" name="JANIE DEROCHE"></image-holder>
</image-container>
<h1 class="py-10">SHOWME STAFF</h1>
<image-container class="my-4">
    <image-holder src="/img/staff/oscar_hampton.webp" name="OSCAR HAMPTON"></image-holder>
    <image-holder src="/img/staff/eric_byers.webp" name="ERIC BYERS"></image-holder>
    <image-holder src="/img/staff/lindsay_mistretta.webp" name="LINDSAY MISTRETTA"></image-holder>
    <image-holder src="/img/staff/tim_acosta.webp" name="TIM ACOSTA"></image-holder>
    <image-holder src="/img/staff/jordan_sims.webp" name="JORDAN SIMS"></image-holder>
    <image-holder src="/img/staff/jennifer_nye.webp" name="JENNIFER NYE"></image-holder>
    <image-holder src="/img/staff/maria_bileychik.webp" name="MARIA BILEYCHIK"></image-holder>
    <image-holder src="/img/staff/david_brown.webp" name="DAVID BROWN"></image-holder>
    <image-holder src="/img/staff/christine_medine.webp" name="CHRISTINE MEDINE"></image-holder>
</image-container>
