@use 'vars';
@use 'colors';
@use 'size';
@use 'components';
@use 'nav';
@use 'reactive';

body {
  background: vars.$main-bg;
  color: vars.$green;
  font-family: "Montserrat", arial, sans-serif;
}

.fnt-bld {
  font-weight: bold;
}


