@use 'vars';
@use 'colors';
@use 'size';
@use 'components';
@use 'nav';
@use 'layout';
@use 'reactive';

body {
  background: vars.$main-bg;
  color: vars.$green;
  // font-family: "Montserrat", arial, sans-serif;
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
}

.fnt-bld {
  font-weight: bold;
}


input[type="checkbox"]{
  width: 16px;
  height: 16px;
  outline: 2px solid vars.$green;
  // content: "";
  accent-color: vars.$green;
  border-radius: 4px;
}