@use "size";
@use "layout";
@use "vars";

@media screen and (min-width: 800px) {
  @include size.margin-padding("md");
  @include size.width("md");
  @include layout.cols("md");
  @include layout.gap("md");
  image-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  nav-controller {
    nav {
      flex-direction: row;

      .mobile {
        mobile-menu-button {
          display: none;
        }
      }

      reactive-menu {
        flex-direction: row;
        transform: none;
        position: static;
        height: fit-content;
        opacity: 1;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  @include size.margin-padding("lg");
  @include size.width("lg");
  @include layout.cols("lg");
  @include layout.gap("lg");

  image-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  showme-schedule {
    max-width: fit-content;
    margin: auto;
    schedule-entry, day-marker {
      max-width: fit-content;
      display: grid;
      grid-template-columns:
        minmax(90px, 100px)
        minmax(90px, 100px)
        minmax(590px, 700px)
        minmax(140px, 150px);
    }
    schedule-entry {
      border-top: none;
      border-left: none;
      border-right: none;
      border-radius: 0;
      margin: 6px 0 0 0;
      .label {
        grid-column: span 1;
      }
      .room {
        order: 4;
      }
    }
    .day-marker {
      border-radius: 0;
      flex-shrink: 2;
    }
    .filters{
      max-width: 800px;
    }
  }
}

@media screen and (min-width: 1600px) {
  @include size.margin-padding("xl");
  @include size.width("xl");
  @include layout.cols("xl");
  @include layout.gap("xl");

  image-container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
