$purple: #3f337c;
$black: #000;
$green: #49bc7f;
$blue: #0b8ba8;

$main-bg: $black;

$colors: ("green": $green, "purple":$purple, "blue": $blue, "black":$black);
$directions: ("t":"top", "b":"bottom", "l": "left", "r": "right");
$sizing-styles: ("m": "margin", "p": "padding");
$px: 4,8,12,18,24,48;
$percentage:("25": "25%","33": "33.33%", "50": "50%", "66": "66.67%","75": "75%", "100": "100%");

